<!DOCTYPE html>
<html lagn="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">
    <meta
        http-equiv="X-UA-Compatible"
        content="ie=edge">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui-1.12.1.js"></script>
    <script src="/js/owlcarousel.js"></script>

    <script
        type="text/javascript"
        src="/js/default.js"></script>


    <script src="/js/smoothscroll.js"></script>
    <script src="/js/design.js"></script>

    <link
        rel="shortcut icon"
        href="/images/favicon.ico"/>
    <link
        href="/css/jquery-ui.css"
        rel="stylesheet">
    <link
        href="/css/owl.carousel.min.css"
        rel="stylesheet">
    <link
        href="/css/common.css"
        rel="stylesheet">
    <link
        href="/css/eveLearning2019.min.css"
        rel="stylesheet">
    <link
        href="/css/develope.css"
        rel="stylesheet">

  </head>
  <body>
    <!-- 상단바-->
    <th:block th:replace="fragments/topbar :: topbarFragment"></th:block>
    <section>
      <div class="container" style="width:1200px; min-height:400px;">
        <th:block layout:fragment="content"></th:block>
      </div>
    </section>
    <!-- 공통 하단-->
    <th:block th:replace="fragments/footer :: footerFragment"></th:block>


  </body>
</html>