<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default-layout">

<th:block layout:fragment="content">
    <div style="margin:130px 0 100px 50px;">
      <h2>상세보기</h2>
      <table class="table board-view" style="margin:10px">
        <colgroup>
          <col style="width: 130px;">
          <col style="width: 300px;">
          <col style="width: 130px;">
          <col style="width: 300px;">
        </colgroup>
        <tbody>
        <tr>
          <td colspan="4" class="subject" th:text="${detailBoard.getTitle()}">
          </td>
        </tr>
        <tr>
          <th>등록자</th>
          <td th:text="${detailBoard.getWriter()}"><span class="text-muted">  </span></td>
          <th>등록일</th>
          <!--td th:text="${detailBoard.get().getCreatedDate} ?
                  ${#temporals.format(detailBoard.get().getCreatedDate,'yyyy-MM-dd HH:mm')} : ${detailBoard.get().getCreatedDate}"></td-->
        </tr>
        <tr>
          <th>연락처</th>
          <td th:text="${detailBoard.getContact()}"></td>
          <th>조회수</th>
          <td th:text="${detailBoard.getReadCnt()}"></td>
        </tr>
        <tr>
          <td colspan="4" class="content" th:text="${detailBoard.getContent()}">
          </td>
        </tr>
        <tr>
          <th>첨부파일</th>
          <td colspan="3">
            <ul class="file" th:each="file : ${detailBoard.getFileInfoList()}">
              <li>
                <a th:onclick="filedownload(' [[${file.getFileSeq()}]] ')"><span
                    th:text="${file.getOriginalFileName()}"></span></a>
              </li>
            </ul>
          </td>
        </tr>
        </tbody>
      </table>

      <table class="table board-post">
        <caption></caption>
        <colgroup>
          <col style="width: 130px;">
          <col style="width: 735px;">
        </colgroup>
        <tbody>
        <tr>
          <th>이전글</th>
          <td th:if="${prevBoard != null}">
            <a th:href="@{/board/detail(boardSeq = ${prevBoard.getBoardSeq()})}">
              <span th:text="${prevBoard.getTitle()}"></span>
            </a>
          </td>
          <td th:if="${prevBoard == null}">
            이전글이 없습니다.
          </td>
        </tr>
        <tr>
          <th>다음글</th>
          <td th:if="${nextBoard != null}">
            <a th:href="@{/board/detail(boardSeq = ${nextBoard.getBoardSeq()})}">
              <span th:text="${nextBoard.getTitle()}"></span>
            </a>
          </td>
          <td th:if="${nextBoard == null}">
            다음글이 없습니다.
          </td>
        </tr>
        </tbody>
      </table>

      <div class="btn-group-position">
        <div class="right" style="float:right; margin:10px" >
          <button type="button" class="btn btn-lg btn-dark"
                  onclick="location.href='javascript:go_delete();'">삭제
          </button>
          <button type="button" class="btn btn-lg btn-primary"
                  onclick="location.href='javascript:go_edit();'">수정
          </button>
          <button type="button" class="btn btn-lg btn-light" onclick="location.href='/board/list'">
            목록
          </button>
        </div>
      </div>

    </section>
  </div>
  <form id="frm" name="frm">
    <input type="hidden" name="boardSeq" id="boardSeq" th:value="${detailBoard.getBoardSeq()}">
    <input type="hidden" name="fileSeq" id="fileSeq" th:value="${detailBoard.getBoardSeq()}">
  </form>

  <script type="text/javascript">
    function go_edit() {
      document.frm.method = "post";
      document.frm.action = "/board/boardEdit";
      document.frm.submit();
    }

    function go_delete() {
      if (confirm("삭제한 데이터는 복구할 수 없습니다.\n\n해당 데이터를 삭제하시겠습니까?")) {
        var boardSeq = $("#boardSeq").val();
        $.ajax({
          url: '/board/deleteBoard',
          dataType: 'json',
          type: "post",
          data: {boardSeq: boardSeq},
          success: function (data) {
            if (data["result"] == "1") {
              alert("삭제가 완료되었습니다");
              location.href = "/board/list";
            } else {
              alert("삭제가 실패하였습니다.");
            }
          }
        });
      }
    }

    function filedownload(fileSeq) {
      document.frm.method = "GET";
      document.frm.fileSeq.value = fileSeq;
      document.frm.action = "/board/download";
      document.frm.submit();
    }

  </script>

</th:block>
</html>