<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<th:block layout:fragment="content">
  <h2 class="skip">서브메뉴</h2>
  <div class="container">
    <div class="snb">
      <div class="hidden">
        <div class="warp">
          <div class="tit">알림과소통</div>
          <ul>
            <li class="active"><a href="공지사항-목록.html">공지사항</a></li><!-- 현재메뉴 표시 .active -->
            <li><a href="자주묻는질문-목록.html">자주묻는질문</a></li>
            <li><a href="#" style="color: #ccc;">매뉴얼</a></li>
          </ul>
        </div>
      </div>
      <a href="#" class="btn-snb-fold" title="접기"></a>
    </div>

      <h2 class="skip">컨텐츠영역</h2>
      <section class="contents" id="contents">
        <div class="page-tit">
          <h3>공지사항</h3>
          <ul class="breadcrumb">
            <li><a href="main.html"><i class="uil-home-alt"><span>홈</span></i></a></li>
            <li>알림과소통</li>
            <li>공지사항</li>
          </ul>
        </div>

        <!-- ============================================================== -->
        <!-- 서브 컨텐츠 영역 -->
        <form class="board-search-form" id="searchFrm" name="searchFrm">
          <select class="form-control width-sm" name="searchType" id="searchType">
            <option value="all">전체</option>
            <option value="title">제목</option>
            <option value="content">내용</option>
          </select>
          <input type="text" id="searchKeyword" name="searchKeyword" class="form-control">
          <button type="button" onclick="search_go();" class="btn btn-md btn-primary">검색</button>
        </form>

  <div class="btn-group-position">
    <div class="left">
      <select class="form-control width-md">
        <option>10개씩 보기</option>
        <option>20개씩 보기</option>
        <option>30개씩 보기</option>
      </select>
      <!-- 필요하면 넣으세요
                <div class="count">전체 <em>26</em>건 (페이지 1/10)</div> -->
    </div>
    <div class="right">
      <a class="btn btn-info" th:href="@{/board/write}">등록</a>
    </div>
  </div>

    <table class="table board-list">
      <caption>게시물 목록</caption>
      <colgroup>
        <col style="width: 65px;">
        <col style="width: 415px;">
        <col style="width: 125px;">
        <col style="width: 90px;">
        <col style="width: 100px;">
        <col style="width: 70px;">
      </colgroup>
      <thead>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>등록기관</th>
        <th>등록자</th>
        <th>등록일자</th>
        <th>조회수</th>
      </tr>
      </thead>
      <tbody>

      <tr class="fixed" th:each="board: ${board}">
        <td><!--i class="uil-exclamation-circle"></i--><span th:text="${board.rowNum}"></span></td>
        <td><a th:href="'/board/detail?boardSeq='+${board.boardSeq}" th:text="${board.title}"></a></td>
        <td th:text="${board.department}"></td>
        <td th:text="${board.writer}"></td>
        <td th:text="${board.createdDate} ?
                        ${#temporals.format(board.createdDate,'yyyy-MM-dd HH:mm')} : ${board.createdDate}"></td>
        <td th:text="${board.readCnt}"></td>
      </tr>
      </tbody>
    </table>

    <nav aria-label="Page navigation" style="text-align:center;">
      <ul class="pagination" th:with="startNumber=${T(Math).floor(boardList.number/10)}*10+1,
          endNumber=(${boardList.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${boardList.totalPages}">
        <li><a aria-label="Previous" href="/board/list?page=1">&laquo;</a></li>
        <li th:style="${boardList.first} ? 'display:none'">
          <a th:href="@{/board/list(page=${boardList.number})}">&lsaquo;</a>
        </li>

        <li th:each="page :${#numbers.sequence(startNumber, endNumber)}" th:class="(${page} == ${boardList.number}+1) ? 'active'">
          <a th:href="@{/board/list(page=${page})}" th:text="${page}"><span class="sr-only"></span></a>
        </li>

        <li th:style="${boardList.last} ? 'display:none'">
          <a th:href="@{/board/list(page=${boardList.number}+2)}">&rsaquo;</a>
        </li>
        <li><a aria-label="Next" th:href="@{/board/list(page=${boardList.totalPages})}">&raquo;</a></li>
      </ul>
    </nav>

    <!-- modal : 비밀번호 변경 -->
    <div class="modal fade" id="pw-change" tabindex="-1" role="dialog" data-backdrop="static">
      <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">비밀번호 변경</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
          </div>
          <div class="modal-body">
            <strong class="card-title font-size-15">주기적인 비밀번호 변경을 통해 개인정보를 안전하게 보호하세요.</strong>
            <table class="table table-detail mt-3">
              <caption></caption>
              <colgroup>
                <col style="width: 120px;">
                <col style="width: 345px;">
              </colgroup>
              <tbody>
              <tr>
                <th>현재 비밀번호</th>
                <td><input type="password" class="form-control width-md"></td>
              </tr>
              <tr>
                <th>새 비밀번호</th>
                <td>
                  <div class="form-group has-success">
                    <input type="password" value="correct value" class="form-control width-md is-valid" id="inputInvalid1">
                    <div class="valid-feedback">매우 안전한 비밀번호입니다.</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>새 비밀번호 확인</th>
                <td>
                  <div class="form-group has-danger">
                    <input type="password" value="wrong value" class="form-control width-md is-invalid" id="inputInvalid2">
                    <div class="invalid-feedback">비밀번호가 일치하지 않습니다.</div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
            <p class="guide-ment">비밀번호는 영문, 숫자, 특수문자를 포함하여 <em>8자리 이상</em> 입력하셔야 합니다.</p>
            <div class="btn-group-position">
              <div class="center">
                <button type="button" class="btn btn-lg btn-primary" data-dismiss="modal" aria-label="Close">저장</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div><!-- // modal : 비밀번호 변경 -->
    <!-- ============================================================== -->
  </section>
  </div>
  <script type="text/javascript">
    function search_go(){
      document.searchFrm.action = "/board/list";
      document.searchFrm.submit();
    }
  </script>
</th:block>
