<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<th:block layout:fragment="content">

  <article class="sub-warp">
    <h2 class="skip">서브메뉴</h2>
    <div class="container">
      <div class="snb">
        <div class="hidden">
          <div class="warp">
            <div class="tit">알림과소통</div>
            <ul>
              <li class="active"><a href="공지사항-목록.html">공지사항</a></li><!-- 현재메뉴 표시 .active -->
              <li><a href="자주묻는질문-목록.html">자주묻는질문</a></li>
              <li><a href="#" style="color: #ccc;">매뉴얼</a></li>
            </ul>
          </div>
        </div>
        <a href="#" class="btn-snb-fold" title="접기"></a>
      </div>

      <h2 class="skip">컨텐츠영역</h2>
      <section class="contents" id="contents">
        <div class="page-tit">
          <h3>공지사항</h3>
          <ul class="breadcrumb">
            <li><a href="main.html"><i class="uil-home-alt"><span>홈</span></i></a></li>
            <li>알림과소통</li>
            <li>공지사항</li>
          </ul>
        </div>

        <!-- ============================================================== -->
        <!-- 서브 컨텐츠 영역 -->
<form id="frm" name="frm" method="post" enctype="multipart/form-data" action="/board/save">
        <table class="table board-write">
          <caption>게시물 등록/수정</caption>
          <colgroup>
            <col style="width: 130px;">
            <col style="width: 735px;">
          </colgroup>
          <tbody>
          <tr>
            <th>제목<i class="uil-check"></i></th>
            <td><input type="text" id="title" name="title" class="form-control width-full" th:value="${detailBoard.getTitle()}"></td>
          </tr>
          <tr>
            <th>성명<i class="uil-check"></i></th>
            <td th:if="${detailBoard.getTitle() == null}">
              <input type="text" id="writer" name="writer" class="form-control width-md" th:value="${session.sessionUserName}">
            </td>
            <td th:if="${detailBoard.getTitle() != null}">
              <input type="text" id="writer" name="writer" class="form-control width-md" th:value="${detailBoard.getTitle()}">
            </td>
          </tr>
          <tr>
            <th>부서명</th>
            <td><input type="text" id="department" name="department" class="form-control width-md" th:value="${detailBoard.getDepartment()}"></td>
          </tr>
          <tr>
            <th>연락처<i class="uil-check"></i></th>
            <td>
              <select id="contact1" class="form-control width-xs">
                <option>02</option>
                <option>010</option>
                <option>031</option>
              </select>
              <em class="hyphen">-</em>
              <input type="text" id="contact2" class="form-control width-xs">
              <em class="hyphen">-</em>
              <input type="text" id="contact3" class="form-control width-xs">
              <input type="hidden" id="contact" name="contact">
            </td>
          </tr>
          <tr>
            <th>내용<i class="uil-check"></i></th>
            <td>
              <textarea class="form-control width-full" th:text="${detailBoard.getContent()}" id="content" name="content" rows="7" th:value="${detailBoard.getContent()}">

              </textarea>
            </td>
          </tr>
          <tr>
            <th>첨부파일</th>
            <td>
              <p class="counsel width-full">파일 첨부는 pdf, xls, xlsx, doc, docx, hwp, jpg, png, gif 만 가능합니다.</p>
              <ol class="input-file-list" id="addFile">
                <!--li id="fileArea">
                  <input type="file" id="file1" name="file1" class="form-control width-xl">
                  <a class="btn btn-light" id="addFileBtn"><i class="uil-plus"></i> 추가</a>
                </li-->

              <li id="files">
                <input type="file" name="files[]" kor-label-for-log="첨부파일" class="form-control width-xl">
                <a href="javascript:;" onClick="javascript:add_element_file('files[]');" class='btn_navy'>파일추가</a>
              </li>
              </ol>
              <div th:if="${detailBoard.getFileList() != null}">
                <ul class="upload-file" th:each="file : ${detailBoard.getFileList()}">

                  <!--<li id="file_${detailBoard.getFileList().size()}" style="display:block; padding:5px 0;">
                    ${result.original_file_name }
                    <a href="javascript:;" onClick="javascript:deleteFile('${result.idx}')" class="btn_red">파일삭제
                    </a>
                  </li>-->

                  <li ><a href="#" title="파일삭제">파일삭제</a> <span th:text="  ${file.getOriginalFileName()}"></span></li>
                </ul>
              </div>
              <input type="text" id="fileSize" th:value="${detailBoard.getFileList().size()}">

            </td>
          </tr>

          <!--tr>
            <th rowspan="2">
              첨부파일<br/>
              <a href="javascript:;" onClick="javascript:add_element_file('files','att_files[]');" class='btn_navy'>파일추가</a>
            </th>
            <td class="left">
              <ul>
                <c:if test="${registerFlag == 'edit'}">
                  <c:forEach items="${fileInfo }" var="result" varStatus="status">
                    <li id="file_${result.idx }" style="display:block; padding:5px 0;"><img src="/resource/admin/img/file.gif" /> ${result.original_file_name }<a href="javascript:;" onClick="javascript:deleteFile('${result.idx}')" class="btn_red">파일삭제</a></li>
                  </c:forEach>
                </c:if>
                <li id="files">
                  <div style="margin:5px 0;"><input type="file" id="file_1" name="att_files[]" kor-label-for-log="첨부파일"></div>
                </li>
              </ul>
            </td>
          </tr-->

          </tbody>
        </table>
</form>
        <div class="btn-group-position">
          <div class="center">
            <button type="button" class="btn btn-lg btn-light" onclick="location.href='/board/list'">취소</button>
            <span th:if="${detailBoard == null}">
              <button type="button" class="btn btn-lg btn-primary" onclick="saveBoard();">등록</button>
            </span>
            <span th:if="${detailBoard != null}">
              <button type="button" class="btn btn-lg btn-primary" onclick="editBoard();">수정</button>
            </span>
          </div>
        </div>

        <!-- ============================================================== -->
      </section>
    </div>
  </article>

  <script type="text/javascript">
    $(document).ready(function () {
      $(document).on("click", ".removeFileBtn", function () {
        $(this).closest("li").remove();
      });

      fileSize
    });
   /* $(document).ready(function(){
      var lastfileNo = 0;
      $("#addFileBtn").click(function(){
        //파일 선택란을 보여준다.
        lastfileNo = $("#addFile li:last input[type='file']:last").attr("id").replace("file", "");
        var html = "";
        if(lastfileNo==5){
          //그리고 해당 아이템은 5개 이상 생성할수 없도록 제한
          alert("5개 이상 파일 추가 하실 수 없습니다.");
        }else{
          lastfileNo = (parseInt(lastfileNo)+1);
          html += "<li>";
          html += "<input type='file' id='file"+lastfileNo+"' name='file"+lastfileNo+"' class='form-control width-xl'>";
          html += "<a class='btn btn-light' onclick='deleteFile(this)' id='removeFileBtn()'><i class='uil-trash-alt'></i>삭제</a>";
          html += "</li>";

          $("#addFile").append(html);
        }
      });
    });*/

    function deleteFile(){
      // 해당 첨부파일 삭제
      $("#addFile li:last input[type='file']:last").parent().remove();
      fCnt--;
    }

    function add_element_file(nv){
        if($(document).find('input[name="files[]"]').length >= 5){
          alert("5개 이상 파일 추가 하실 수 없습니다.");
          return false;
        }
        $("#addFile").append('<li>' +
            '<input type="file" class="form-control width-xl" name="' + nv + '" kor-label-for-log="첨부파일" >' +
            '<a class="btn btn-light removeFileBtn"><i class="uil-trash-alt"></i>삭제</a>' +
            '</li>');
    }

    function saveBoard(){
      /*유효성*/
      var contact = $("#contact1").val() + $("#contact2").val() + $("#contact3").val();
      $("#contact").val(contact);
      document.frm.submit();
    }

    function editBoard(){
      if(confirm("수정을 완료하시겠습니까?")) {
        var params = $("#frm").serialize();

        $.ajax({
          url: "/board/editProc",
          contentType: "application/x-www-form-urlencoded; charset=UTF-8",
          type: "post",
          dataType: "json",
          data: params,
          success: function (data) {
            console.log(data);
          }
        })

      }
    }




  </script>

</th:block>