<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <!--===============================================================================================-->
  <!--===============================================================================================-->
  <!--===============================================================================================-->
  <!--===============================================================================================-->
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
  <!--===============================================================================================-->

</head>
<body style="background-color : #424242; color:	#F0FFF0;">

아이디 / 비밀번호 찾기

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/common.js"></script>
</body>
</html>