<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default-layout">

<th:block layout:fragment="content">
  내 정보 보기

    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">Register</div>
          <div class="card-body">

            <form role="form" name="frm" id="frm">

              <div class="form-group">
                <label for="userId" class="cols-sm-2 control-label">아이디</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control"id="userId" name="userId" value="" placeholder="아이디를 입력해 주세요" />
                    <input type="hidden" class="form-control" id="tempUserId" name="tempUserId" value="" placeholder="아이디를 입력해 주세요">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="userName" class="cols-sm-2 control-label">성명</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control"id="userName" name="userName" value="" placeholder="이름을 입력해 주세요" />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="email" class="cols-sm-2 control-label">이메일</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" id="email" name="email" placeholder="이메일 주소를 입력해주세요" />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="userPW" class="cols-sm-2 control-label">비밀번호</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" id="userPW" name="userPW" value="" placeholder="비밀번호를 입력해주세요" />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="passwordCheck" class="cols-sm-2 control-label">비밀번호확인</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" id="passwordCheck" name="passwordCheck" placeholder="비밀번호 확인을 위해 다시한번 입력 해 주세요"/>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="mobileNo" class="cols-sm-2 control-label">휴대폰번호</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" id="mobileNo" name="mobileNo" value="" placeholder="휴대폰번호를 입력해 주세요"/>
                  </div>
                </div>
              </div>
              <div class="form-group ">
                <button type="button" onclick="goSubmit()" class="btn btn-primary btn-lg btn-block login-button">Register</button>
              </div>
              <div class="login-register">
                <a th:href="@{/user/login}">Login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</th:block>