<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:fragment="navigationFragment">
  <!-- Header -->
  <header id="header">
    <div class="inner">

      <!-- Logo -->
      <h1><a href="index.html" id="logo">ZeroFour</a></h1>

      <!-- Nav -->
      <nav id="nav">

        <ul>
          <li class="current_page_item">
            <a th:href="@{/}">메인으로</a>
          </li>

          <li>
            <a href="#">게시판</a>
            <ul>
              <li><a th:href="@{/board/history}">등산히스토리</a></li>
              <li><a href="#">등산정보</a></li>
              <li><a th:href="@{/board/list}">자유게시판</a></li>
              <li><a th:href="@{/board/photoList}">포토갤러리</a></li>
            </ul>
          </li>
          <li>
            <a href="#">지도 및 일정</a>
            <ul>
              <li><a href="#">일정보기</a></li>
              <li><a href="#">가고싶은산</a></li>
              <li><a th:href="@{/map/main}">100대 명산 위치</a></li>
              <li><a href="#">추천 등산 코스</a></li>
            </ul>
          </li>
          <li><a th:href="@{/member/info}">회원정보</a></li>
          <li><a th:href="@{/member/myInfo}">내정보</a></li>
          <li><a th:href="@{/member/network}">비상연락망</a></li>

          <li>
            <span th:unless="${session.sessionUserId}">
                 <a th:href="@{/user/join}">회원가입</a>
                 <a th:href="@{/user/login}">로그인</a>
                 <a th:href="@{/member/find}">아이디비밀번호 찾기</a>
            </span>
          </li>
          <li>
            <span th:if="${session.sessionUserId}">
               <span th:text="${session.sessionUserId}"></span>님 로그인 되셨습니다. &nbsp&nbsp
               <a th:href="@{/user/logout}">로그아웃</a>
            </span>
          </li>

        </ul>
      </nav>

    </div>
  </header>
</th:block>