<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:fragment="topbarFragment">
  <script type="text/javascript">
    function input_enter() {
      var keycode = window.event.keyCode;
      if (keycode == 13) {
        chk_login();
      }
    }

    function go_login_redirect() {

      var path = location.pathname + location.search;
      path = encodeURIComponent(path);

      if (confirm("로그인이 필요한 페이지입니다.\n\n로그인 페이지로 이동하시겠습니까?")) {
        window.location.href = "/member/login.do?rUrl=" + path;
      }
    }

    /* 화면 크기 */
    var nowZoom = 100;

    function zoomOut() {
      nowZoom = nowZoom - 5;
      if (nowZoom <= 100) {
        nowZoom = 100;
      }
      zooms();
    }

    function zoomIn() {
      nowZoom = nowZoom + 5;
      if (nowZoom >= 140) {
        nowZoom = 120;
      }
      zooms();
    }

    function zooms() {
      document.body.style.zoom = nowZoom + "%";
      if (nowZoom == 100) {
        alert("더 이상 축소할 수 없습니다.");
      }
      if (nowZoom == 120) {
        alert("더 이상 확대할 수 없습니다.");
      }
    }
  </script>
  <header class="header">
    <div class="navBg"></div>
    <div class="container" style="width:1200px;">
      <div class="topMenuWrap">
        <span class="link">
            <a th:href="@{/}">메인으로</a>
        </span>
        <span class="topMenu">
           <span th:unless="${session.sessionUserId}">
               <a th:href="@{/user/join}">회원가입</a>
               <a th:href="@{/user/login}">로그인</a>
               <a href="/member/find_id.do">아이디비밀번호 찾기</a>
           </span>
           <span th:if="${session.sessionUserId}">
             <span th:text="${session.sessionUserId}"></span>님 로그인
             <a th:href="@{/user/logout}">로그아웃</a>
           </span>
            <a th:href="@{/board/list}">공지 게시판</a>
            <!--span class="textZoom">
              글씨크기
              <button type="button" onclick="zoomIn();" class="textZoomIn">크게</button>
              <button type="button" onclick="zoomOut();" class="textZoomOut">크게</button>
            </span-->
        </span>
      </div>

    </div>

    </article>

    <div class="container" id="nav">
      <nav class="nav" style="padding-left: 17px; top:5px;">
        <ul>
          <li class="b00">
            <a href="#">등산</a>
            <ul class="navDepth2">
              <li class="b10"><a href="/board/list" style="">게시판</a></li>
              <li class="b20"><a href="#" style="">히스토리</a></li>
              <li class="b30"><a href="#" style="">추천코스</a></li>
            </ul>
          </li>
          <li class="c00">
            <a href="#">여행지도</a>
            <ul class="navDepth2">
              <li class="c10"><a href="#" style="">지도</a></li>
            </ul>
          </li>
          <li class="d00">
            <a href="#">일정</a>
            <ul class="navDepth2">
              <li class="d10"><a href="#" style="">일정</a></li>
            </ul>
          </li>
          <li class="e00">
            <a href="#">관리페이지</a>
            <ul>
              <li class="e10"><a href="/board/list">정보수정</a></li>
            </ul>
          </li>
          <li class="e20">
            <a href="#">가게부</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <!--script type="text/javascript">

    function totalSearchGo(){
      $("#searchText").val($("#totalSearchText").val());
      document.searchFrm.action = "/etc/home_search.do";
      document.searchFrm.submit();
    }


    var isLogin = '${userLoginInfo eq null ? "" : "1"}';
    $(function() {
      if (isLogin == '') {
        $('#nav .nav > ul > li:eq(4) a, #siteMap nav > ul > li:eq(4) a').on('click', function() {
          go_login_redirect();
          return false;
        });
      }
    });
  </script-->

</th:block>
</html>