@charset "utf-8";
/* Last Update 2020.04.07 */

ul, ol, dl {
  list-style: none;
  padding: 0;
}

.skip {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -1000em;
}

caption {
  display: none;
}

textarea {
  resize: none;
}

.clear {
  clear: both !important;
}

body {
  min-width: 1200px;
}

.container {
  width: 1130px;
  max-width: 1130px;
  margin: 0 auto;
}

/* 상단메뉴 */
header .container {
  position: relative;
}

header .logo {
  width: 208px;
  height: 23px;
  background: url("../images/logo.png") top left no-repeat;
  background-size: 208px 23px;
  background-position: 0 0;
  display: inline-block;
  position: relative;
  top: 9px;
}

header .gnb {
  height: 40px;
}

header .gnb ul {
  position: absolute;
  top: 11px;
  right: 0;
}

header .gnb ul li {
  display: inline-block;
}

header .gnb ul li a {
  color: #7d7d7d;
}

header .gnb ul li + li:before {
  width: 1px;
  height: 13px;
  content: "";
  margin: 0 11px 0 8px;
  background-color: #d5d5d5;
  display: inline-block;
  position: relative;
  top: 1px;
}

header .gnb ul li strong {
  color: #1b48b6;
  font-weight: 600;
}

header .gnb ul li i {
  margin-right: 4px;
}

header .navigation {
  width: 100%;
  height: 41px;
  background-color: #243C79;
}

header .navigation.fixed {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0px;
  z-index: 754;
}

header .navigation .lnb {
  text-align: center;
}

header .navigation .lnb > ul {
  height: 100%;
  margin: 0;
  position: relative;
}

header .navigation .lnb > ul > li {
  margin-right: 38px;
  display: inline-block;
}

header .navigation .lnb > ul > li:last-child {
  margin-right: 0;
}

header .navigation .lnb > ul > li > a {
  height: 28px;
  margin: 7px 0 6px 0;
  padding: 2px 30px;
  border-radius: 18px;
  color: #fff;
  font-size: 0.9375rem;
  font-weight: 600;
  letter-spacing: -0.3px;
  display: inline-block;
}

header .navigation .lnb > ul > li > a:hover, header .navigation .lnb > ul > li.active > a {
  background-color: #4160AD;
  text-decoration: none;
  transition-duration: 250ms;
}

header .navigation .lnb > ul > li > ul {
  min-width: 190px;
  height: auto;
  margin: 0;
  padding: 6px 0 7px 0;
  background-color: #fff;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.105);
  display: none;
  border: 1px solid rgba(0, 0, 0, .15);
  border-top: none;
  position: absolute;
  z-index: 700;
}

header .navigation .lnb > ul > li:hover > ul {
  display: block;
}

header .navigation .lnb > ul > li > ul > li {
  margin: 0;
  position: relative;
}

header .navigation .lnb > ul > li > ul > li > a {
  margin: 0;
  padding: 5px 15px;
  font-size: 0.875rem;
  color: #333;
  text-align: left;
  display: block;
}

header .navigation .lnb > ul > li > ul > li > a:hover, header .navigation .lnb > ul > li > ul > li:hover > a {
  background-color: #f4f4f4;
  color: #1b48b6;
  font-weight: 600;
  transition-duration: 250ms;
  text-decoration: none;
}

header .navigation .lnb > ul > li > ul > li > ol {
  height: auto;
  margin: -37px 0 0 0;
  padding: 6px 0 7px 0;
  background-color: #fff;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.05);
  display: none;
  border: 1px solid rgba(0, 0, 0, .1);
  position: absolute;
  z-index: 699;
}

header .navigation .lnb > ul > li > ul > li > ol > li > a {
  min-width: 175px;
  margin: 0;
  padding: 2px 15px 3px 21px;
  color: #212529;
  font-size: .8125rem;
  text-align: left;
  position: relative;
  display: block;
}

header .navigation .lnb > ul > li:last-child > ul > li > ol {
  left: -177px;
}

header .navigation .lnb > ul > li > ul > li > ol {
  left: 188px;
}

header .navigation .lnb > ul > li > ul > li:hover > ol {
  display: block;
}

header .navigation .lnb > ul > li > ul > li > ol > li > a:before {
  width: 3px;
  height: 3px;
  content: "";
  border-radius: 10px;
  background-color: #1b48b6;
  position: absolute;
  top: 10px;
  left: 14px;
  display: block;
}

header .navigation .lnb > ul > li > ul > li > ol > li > a:hover {
  color: #1b48b6;
}

header .navigation .lnb > ul > li > ul > li.dep:before {
  content: "\e82f";
  color: rgba(0, 0, 0, .4);
  font-family: unicons;
  font-size: 1.125rem;
  display: block;
  position: absolute;
  top: 1px;
  right: 13px;
  z-index: 700;
}

footer {
  margin-top: 40px;
  padding: 15px 0;
  border-top: 1px solid #e6e7e9;
  color: #7d7d7d;
  text-align: center;
  letter-spacing: 0.4px;
  clear: both;
}

/* 좌측메뉴 */
.snb {
  display: block;
  float: left;
  position: relative;
}

.snb .hidden {
  overflow: hidden;
  float: left;
}

.snb .warp {
  width: 200px;
}

.snb .tit {
  padding: 21px 15px 9px 15px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  font-size: 1.25rem;
  color: #333;
  font-weight: 600;
  letter-spacing: -0.8px;
}

.snb ul > li {
  position: relative;
}

.snb ul > li > a {
  padding: 9px 15px;
  background-color: #fff;
  border-bottom: 1px solid #dddddd;
  color: #333;
  font-size: 0.875rem;
  display: block;
}

.snb ul > li > a:hover, .snb > li ol > li > a:hover {
  color: #1b48b6;
  text-decoration: none;
}

.snb ul > li > a:hover {
  background-color: #f4f6fb;
  font-weight: 600;
  transition-duration: 250ms;
}

.snb ul > li.active > a, .snb ul > li > a[aria-expanded="true"] {
  background-color: #5f7cc6;
  color: #fff;
  font-weight: 600;
}

.snb ul > li .acco-content {
  margin-top: 0;
}

.snb ul > li ol {
  margin: 0;
  padding: 10px 0;
  background-color: #f9f9fb;
  border-bottom: 1px solid #e1e1e1;
}

.snb ul > li ol > li {
  margin-bottom: 9px;
  padding: 0 15px;
  position: relative;
}

.snb ul > li ol > li:last-child {
  margin-bottom: 0;
}

.snb ul > li ol > li > a {
  padding: 0 0 0 8px;
  font-size: 0.8125rem;
  line-height: 1.2;
  color: #333;
  display: block;
}

.snb ul > li ol > li.active > a {
  color: #1b48b6;
  font-weight: 600;
}

.snb ul > li ol > li:before {
  width: 3px;
  height: 3px;
  content: "";
  background-color: #1b48b6;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 7px;
  left: 15px;
}

.snb ul > li > a[data-toggle="collapse"]:before {
  content: "\e82f";
  color: rgba(0, 0, 0, .4);
  font-family: unicons;
  font-size: 1.125rem;
  font-weight: normal;
  display: block;
  position: absolute;
  top: 6px;
  right: 8px;
  z-index: 301;
  transition: all ease 0.5s;
}

.snb ul > li:hover > a[data-toggle="collapse"]:before {
  transform: rotate(90deg);
  right: 11px;
}

.snb ul > li.active:hover > a[data-toggle="collapse"] {
  transform: rotate(0deg);
}

.snb ul > li.active > a[data-toggle="collapse"]:before, .snb ul > li > a[aria-expanded="true"]:before {
  color: rgba(255, 255, 255, .7);
  right: 11px;
  z-index: 802;
  transform: rotate(90deg);
}

.snb .accordion, .snb .accordion > :nth-child(n+2) {
  margin-top: 0;
}

.snb .btn-snb-fold {
  width: 16px;
  height: 16px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAQCAIAAAAXoIEwAAAATElEQVR42mPYf/AE8WjfwePfv3/ftecQSYhh1A5UdOfuAyCirR1fwWCE2PH4yfO/OABQCqsdwAj4igMgxw197RiNc7rZQY88OALKRACdI9BBWi40/gAAAABJRU5ErkJggg==');
  background-position: 0 0;
  display: block;
  position: absolute;
  top: 27px;
  left: 173px;
}

.snb .hidden[style="width: 0px;"] ~ .btn-snb-fold {
  background-position: -17px 0;
}

.snb ~ .contents {
  width: 875px;
  margin-bottom: 40px;
  float: right;
  position: relative;
}

.collapse.in {
  height: auto;
  display: block;
}

/* 서브페이지 타이틀*/
.sub-warp {
  padding-bottom: 80px;
}

.page-tit {
  margin: 23px 0 20px 0;
  padding: 0 0 14px 0;
  border-bottom: 1px solid #61646d;
  box-sizing: border-box;
  position: relative;
}

.page-tit h3 {
  margin: 0;
  font-size: 1.25rem;
  color: #333;
  font-weight: 600;
  letter-spacing: -0.8px;
}

.page-tit .breadcrumb {
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 2px;
  right: 0;
}

.page-tit .breadcrumb li:first-child a {
  color: #999;
}

.page-tit .breadcrumb li:first-child a i {
  position: relative;
  top: 1px;
}

.page-tit .breadcrumb li:first-child a i span {
  display: none;
}

.page-tit .breadcrumb li {
  font-size: 0.75rem;
}

.page-tit .breadcrumb > :nth-child(n+2):before {
  margin: 0 6px;
  content: "\e82f";
  font-family: unicons;
  font-size: 0.875rem;
  color: #ccc;
  font-weight: 400;
  display: inline-block;
}

.page-tit .breadcrumb li:last-child {
  font-weight: 600;
}

/* 검색조건 */
.search-condition {
  margin-bottom: 23px;
  padding: 10px 15px 10px 0;
  border: 1px solid #e2e6ed;
  background-color: #f2f4f7;
  position: relative;
}

.search-condition table {
  width: 100%;
}

.search-condition table th, .search-condition table td {
  padding-top: 3px;
  padding-bottom: 3px;
}

.search-condition table th {
  padding-right: 9px;
  text-align: right;
}

.search-condition table td.btn-submit {
  padding-left: 9px;
  vertical-align: top;
}

.search-condition table td.btn-submit .btn {
  height: 27px;
  padding: .15rem .5rem .2rem .5rem;
}

.search-condition .form-control {
  display: inline-block;
}

.search-condition .date {
  margin-right: 5px;
  float: left;
  position: relative;
}

.search-condition .date > * {
  float: left;
}

.search-condition .date input {
  width: 90px;
  display: inline-block;
}

.search-condition .date .btn-light {
  margin-left: -1px;
  top: 0 !important;
}

.hyphen {
  margin: 3px 6px 0 4px;
  font-style: normal;
}

.fold-warp {
  height: auto;
  overflow: hidden;
}

.search-condition .btn-fold {
  width: 50px;
  height: 16px;
  background-color: #f2f4f7;
  border-left: 1px solid #e2e6ed;
  border-right: 1px solid #e2e6ed;
  border-bottom: 1px solid #e2e6ed;
  text-align: center;
  display: block;
  position: absolute;
  left: 49%;
  right: 49%;
  bottom: -16px;
}

.search-condition .btn-fold:before {
  width: 7px;
  height: 4px;
  margin: 4px auto;
  content: "";
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAECAYAAABCxiV9AAAAHUlEQVR42mNgQAKJKbn/GbABkAQM45RAUYBNAoYBZ8UjEdsLbOgAAAAASUVORK5CYII=');
  display: block;
}

.search-condition .fold-warp[style="height: 37px;"] ~ .btn-fold:before {
  transform: rotate(-180deg);
}

.search-condition .custom-control {
  display: inline-block;
}

.search-condition .custom-control + .custom-control {
  margin-left: 10px;
}

.search-condition .form-control ~ .btn {
  height: calc(.9em + 1rem);
  position: relative;
  top: -1px;
}

.width-xs {
  width: 60px;
}

.width-sm {
  width: 80px;
}

.width-md {
  width: 130px;
}

.width-lg {
  width: 230px;
}

.width-xl {
  width: 500px;
}

.width-full {
  width: 100%;
}

.bullet > li {
  padding-left: 9px;
  position: relative;
}

.bullet > li:before {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #868686;
  border-radius: 15px;
  display: block;
  position: absolute;
  top: 7px;
  left: 0;
}

.bullet > li > ul {
  margin-top: 1px;
}

.bullet > li > ul > li {
  padding-left: 9px;
  position: relative;
}

.bullet > li > ul > li:before {
  content: "";
  width: 5px;
  height: 1px;
  background-color: #9e9e9e;
  display: block;
  position: absolute;
  top: 9px;
  left: 0;
}

/* 메뉴관리 */
.menu-manage .card {
  height: calc(100vh - 295px);
  min-height: 420px;
  overflow-y: auto;
}

.menu-manage .col-md-6:first-child > .card > .card-body {
  padding: .4rem .6rem;
}


/* ===========  테이블 스타일  =============*/
/* 목록 */
.table tr td:last-child, .table tr th:last-child {
  border-right: none;
}

.table-list td, .table-list th {
  height: 34px;
}

.table-list thead th {
  background-color: #f2f4f8;
  border-top: 1px solid #bfc0c4;
  border-right: 1px solid #dfe0e4;
  border-bottom: 1px solid #cecfd3;
  font-weight: 600;
}

.table-list td {
  text-align: center;
}

.table-list td a.btn {
  padding: 0 .55rem;
}

.btn-group-position {
  margin-bottom: 9px;
  position: relative;
}

.btn-group-position .left {
  text-align: left;
}

.btn-group-position .left ~ .right {
  position: absolute;
  top: 0;
  right: 0;
}

.btn-group-position .right {
  text-align: right;
}

.btn-group-position .right .form-control ~ .btn, .btn-group-position .left .form-control ~ .btn {
  position: relative;
  top: -1px;
}

.btn-group-position .center {
  text-align: center;
}

.btn-group-position .form-control {
  display: inline-block;
}

.btn-group-position .count {
  margin-right: 6px;
  display: inline-block;
}

.btn-group-position .count em {
  color: #ec7f7d;
  font-style: normal;
}

.table ~ .btn-group-position .center {
  padding-top: 6px;
}

@media screen and (min-width: 0\0
) {
  .btn-group-position .right .form-control ~ .btn, .btn-group-position .left .form-control ~ .btn {
    top: -2px;
  }

  .board-search-form .form-control ~ .btn, .search-condition .form-control ~ .btn {
    top: -2px;
  }
}

/* 페이지넘버 */
.pagination {
  margin-top: 0.5rem;
  display: inline-block;
}

.pagination li {
  display: inline;
}

.pagination li.first a, .pagination li.prev a, .pagination li.next a, .pagination li.last a {
  width: 32px;
  height: 32px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIEAAAAgCAYAAAA14BsbAAACN0lEQVR42u2YO0tcURSFB0cLgw6oYBMQHREFFR+ksLBRsRkQH/iC2AjzDyxEwUFF0lilkAgiio2ghYiFYBGCSWOR4KtR7PwjWRvWhVGw072nWAs+7t1TzN5nnX3POfemUpIkSZIkSZIkSZIkSZL0XioUCs1GUfwFlDnX0AKaHPN9Ar0BXpeZv295H9kEQ4khuKbBpF2daxgGXY75MjbOAK9f+Gu+m//RDTADbkEb42Ow57kSINccuAadzk1wAn4ErATm7zHjNvo/E9UA0+AGtDI+ADvONSQN0BIw/nI2wveA3DvmN+9bOQ/T3kWMsAPbGR+CfecaJtgAHcGr4SnYCsi7b77zvp3zMeK1J42Bf6CRv22B3YBVyGpoKIEzUQW3wbWAs9Bu0oA2H/Rk7EPrwJ9vgGeQZbwNLpwH3scaPpfYW9JfsB6Q98LmgfdZerPxkQkHuQ8uMc6B36DHcdDW8WdgoYQawHz5Awac8/bQ/xzjJc7PoMfJ+CdYeXVA9Dyd14FLsFgCDTAA7gIaoLP4QGjzwXnJeBVQDa7AKuNx8Oh5SEOuWi7By4EN0A+eAhqgg36PM17lfFR7G2Arwi+wyXgU3NuHG8caargMfwOVzuOfAg/WCM55h+nzKONNzkMm6kmwp/E8MQLXeb66pB1rqGcNfY45q8BRshc75k3T3/milcjGXhu9J86C7qLVIW8fUpxr+Op8JrHtMB/0gSqfPPXmu/mfkiRJkiRJkiRJkiRJkiRJejf9B+wwj/nSrCVlAAAAAElFTkSuQmCC') top left no-repeat;
  position: relative;
}

.pagination li.first a:hover, .pagination li.prev a:hover, .pagination li.next a:hover, .pagination li.last a:hover {
  background-color: rgba(49, 58, 70, .07);
  border-color: rgba(49, 58, 70, .2);
  transition: all 0.3s ease-out;
}

.pagination li.first a:before, .pagination li.prev a:before, .pagination li.next a:before, .pagination li.last a:before {
  font-family: unicons;
  color: #bbb;
  display: inline-block;
  position: absolute;
}

.pagination > li > a {
  position: relative;
  float: left;
  min-width: 32px;
  height: 32px;
  padding: 5px 10px 8px 10px;
  margin-left: 5px;
  border: 1px solid #cecfd3;
  text-decoration: none;
  display: inline-block;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #474e60;
  border-color: #474e60 !important;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
  z-index: 2;
  color: #333;
  background-color: #eee;
  transition-duration: 250ms;
}

.pagination li.first a {
  background-position: -2px -1px;
}

.pagination li.prev a {
  background-position: -33px -1px;
}

.pagination li.next a {
  background-position: -65px -1px;
}

.pagination li.last a {
  background-position: -97px -1px;
}

.pagination li.prev a {
  margin-right: 10px;
}

.pagination li.next a {
  margin-left: 15px;
}

/* 상세보기 */
.table-detail td, .table-detail th {
  height: 35px;
  padding: .35rem .5rem;
}

.table-detail th {
  background-color: #f2f4f8;
}

.table-detail td .form-control, .table-detail td .form-control + .btn {
  height: calc(.9em + 1rem);
  margin-right: 5px;
  float: left;
}

.form-control + .btn i {
  position: relative;
  top: 0px;
}

.table-detail td .custom-control {
  display: inline-block;
}

.table-detail td .custom-control + .custom-control {
  margin-left: 10px;
}

.table-detail td .custom-control + .btn {
  margin-left: 10px;
}

.table-detail th i.uil-check {
  margin-left: 1px;
  color: #fd5451;
}

.table-detail td.memo {
  height: 100px;
  vertical-align: top;
}

.table-detail td .hyphen {
  margin: 3px 8px 0 1px;
  float: left;
}

.table-detail td .form-group {
  margin-bottom: 0;
}

.table-detail td .invalid-feedback, .table-detail td .valid-feedback {
  padding-top: 2px;
  clear: both;
}

.guide-ment {
  margin: 0 0 10px 0;
  padding-left: 22px;
  color: #7d7d7d;
  line-height: 1.5;
  position: relative;
}

.guide-ment:before {
  margin-top: -3px;
  content: "\e93d";
  font-family: unicons;
  font-size: 1rem;
  color: #f88b2e;
  display: block;
  position: absolute;
  left: 0;
}

.guide-ment em {
  color: #ec7f7d;
  font-style: normal;
}

.table + .guide-ment {
  margin: -6px 0 13px 0;
}

.counsel {
  margin: 7px 0;
  font-size: 0.6875rem;
  color: #1b48b6;
  line-height: 1.3;
  word-break: keep-all;
  float: left;
}

.modal .counsel {
  margin: 3px 0 0 0;
  clear: both;
}

.table .file {
  margin: 0;
}

.table .file li {
  padding-left: 22px;
  text-align: left;
  position: relative;
}

.table .file li + li {
  margin: 3px 0 0 0;
}

.table .file li:before {
  margin-top: -3px;
  content: "\ea13";
  font-family: unicons;
  font-size: 1rem;
  color: #1b48b6;
  display: block;
  position: absolute;
  left: 0;
}

.table .file li a:hover {
  color: #1b48b6;
}

.table .date {
  margin-right: 5px;
  float: left;
  position: relative;
}

.table .date > * {
  float: left;
}

.table .date input {
  width: 90px;
  margin-right: 0;
  display: inline-block;
}

.table .date .btn-light {
  margin-left: -1px;
}

.upload-file {
  margin: 0;
  padding: 7px 0 0 0;
  clear: both;
}

.upload-file li {
  padding-left: 20px;
  text-align: left;
  position: relative;
}

.upload-file li + li {
  margin: 3px 0 0 0;
}

.upload-file li [title="파일삭제"]:before {
  margin-top: -2px;
  content: "\ebec";
  font-family: unicons;
  font-size: 1rem;
  color: #ec7f7d;
  display: block;
  position: absolute;
  left: 0;
}

/* 모달, 알럿 */
.modal-header {
  margin-left: -1px;
  background-color: #274284;
}

.modal-title {
  color: #fff;
}

.modal-header .close, .modal-header .close:hover {
  color: #fff;
}

.alert-ment {
  margin: 0 0 27px 0;
  font-size: 1rem;
  text-align: center;
  position: relative;
}

.alert-ment:before {
  margin: 0 auto;
  font-family: unicons;
  font-size: 2.5rem;
  display: block;
  position: relative;
}

.alert-ment.save:before {
  content: "\ea14";
  color: #f88b2e;
}

.alert-ment.warning:before {
  content: "\e9c2";
  color: #e65d51;
}

.alert-ment.complete:before {
  content: "\e8d6";
  color: #3abc74;
}

.alert-ment.info:before {
  content: "\ea72";
  color: #3ba3e7;
}

.alert-ment.blank {
  padding: 3rem 0 2.5rem 0;
}

.card-title {
  letter-spacing: -0.3px;
}

/* 진행절차 */
.stepwizard {
  width: 100%;
  display: table;
  position: relative;
}

.stepwizard-step li .disabled {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.stepwizard-step li {
  margin-right: 39px;
  display: block;
  text-align: center;
  position: relative;
  float: left;
}

.stepwizard-step li:last-child {
  margin-right: 0;
}

.stepwizard-step li:nth-child(n+2):before {
  content: "\e82f";
  font-family: unicons;
  font-size: 1.25rem;
  color: #ccc;
  font-weight: 400;
  display: inline-block;
  position: absolute;
  top: -1px;
  left: -29px;
}

.stepwizard-step li p {
  margin: 0;
  padding: .25rem 1rem;
  background-color: #A1AFC6;
  border: 1px solid #A1AFC6;
  color: #fff;
  font-size: 0.8125rem;
  letter-spacing: -0.3px;
}

.stepwizard-step li p i {
  margin-right: 7px;
  position: relative;
  top: 1px
}

.stepwizard-step li.active p {
  background-color: #32AEC9;
  border: 1px solid #32AEC9;
  color: #fff;
}


/* ===========  게시판 스타일  =============*/
/* 목록 */
.board-list td, .board-list th {
  height: 38px;
}

.board-list thead th {
  border-top: 1px solid #61646d;
  border-right: none;
  color: #274284;
  font-weight: 600;
}

.board-list td {
  border-right: none;
  text-align: center;
}

.board-list td.text-left a {
  height: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-wrap: break-word; /*white-space: nowrap;*/
  display: block;
  position: relative;
}

.board-list tr.fixed {
  background-color: #f2f4f8;
}

.board-list tr.fixed .text-left {
  font-weight: 600;
}

.board-list tr.fixed .uil-exclamation-circle {
  font-size: 0.875rem;
  color: #1b48b6;
  position: relative;
  top: 1px;
}

.board-list td a.btn {
  padding: 0.06rem .55rem 0.06rem .55rem;
}

/* 쓰기 */
.board-write td, .board-write th {
  height: 38px;
}

.board-write tbody tr:first-child > * {
  border-top: 1px solid #61646d;
}

.board-write th {
  border-right: none;
  color: #274284;
  text-align: center;
  font-weight: 600;
}

.board-write th i.uil-check {
  margin-left: 1px;
  color: #fd5451;
}

.board-write td {
  border-right: none;
}

.board-write td .hyphen {
  margin: 3px 8px 0 1px;
  float: left;
}

.board-write td .form-control {
  margin-right: 5px;
  float: left;
}

.board-write td .custom-control {
  display: inline-block;
}

.board-write td .custom-control + .custom-control {
  margin-left: 10px;
}

.board-write td .custom-control + .btn {
  margin-left: 10px;
}

.input-file-list {
  margin: 0;
}

.input-file-list li {
  width: 100%;
  clear: both;
}

.input-file-list li + li {
  padding-top: 6px;
}

/* 읽기 */
.board-view {
  margin-bottom: 1.5rem;
}

.board-view td, .board-view th {
  height: 38px;
  padding: .45rem .5rem;
}

.board-view td {
  border-right: none;
}

.board-view tbody tr:first-child > * {
  border-top: 1px solid #61646d;
}

.board-view tbody tr:last-child > * {
  border-bottom: 1px solid #61646d;
}

.board-view th {
  border-right: none;
  color: #274284;
  text-align: center;
  font-weight: 600;
}

.board-view td.subject {
  height: 50px;
  padding: .65rem .5rem;
  background-color: #f2f4f8;
  border-bottom: 2px solid #cecfd3;
  color: #274284;
  text-align: center;
  font-size: 0.9375rem;
  font-weight: 600;
}

.board-view td.content {
  height: 300px;
  padding: .7rem .5rem;
  font-size: 0.8125rem;
  line-height: 1.55;
  vertical-align: top;
}

/* 이전글 다음글 */
.board-post td, .board-post th {
  height: 35px;
}

.board-post td {
  border-right: none;
}

.board-post th {
  background-color: #f7f8fb;
  border-right: none;
  color: #274284;
  text-align: center;
  font-weight: 600;
}

/* 게시판 검색조건 */
.board-search-form {
  margin-bottom: 23px;
  padding: 10px 15px 10px 0;
  border: 1px solid #e2e6ed;
  background-color: #f2f4f7;
  text-align: center;
  position: relative;
}

.board-search-form .form-control {
  display: inline-block;
}

.board-search-form .form-control ~ .btn {
  position: relative;
  top: -1px;
}

/* 자주묻는 질문 */
.faq-view {
  background-color: #f7f8fb;
  display: none;
}

.faq-view td {
  padding: .9rem .6rem .8rem 1.1rem;
}

.faq-view dl {
  margin: 0;
  word-break: keep-all;
}

.faq-view dl dt {
  margin: 0 0 8px 0;
  padding-left: 25px;
  color: #274284;
  font-size: 0.9375rem;
  font-weight: 600;
  text-align: left;
  position: relative;
}

.faq-view dl dt:before {
  margin-right: 8px;
  padding-top: 1px;
  content: "\eb3a";
  font-family: unicons;
  font-size: 1.25rem;
  color: #4489e4;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: -4px;
  left: -1px;
}

.faq-view dl dd {
  margin-bottom: 0;
  padding-left: 25px;
  line-height: 1.65;
  font-size: 0.8125rem;
  text-align: left;
  position: relative;
}

.faq-view dl dd:before {
  margin-right: 8px;
  content: "\e937";
  font-family: unicons;
  color: #f88b2e;
  font-size: 1.45em;
  font-style: normal;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: -4px;
  left: 0;
}

.faq-view .file {
  margin: 17px -.6rem -.8rem -1.1rem;
  padding: 11px .6rem .8rem 1.1rem;
  background-color: rgba(255, 255, 255, .3);
  border-top: 1px dashed #dde2ea;
}

.faq-view .file li:before {
  color: #abb4c9;
}

/* ===========  로그인  =============*/
.login {
  width: calc(100%);
  height: calc(100vh);
  position: relative;
}

.login .img-area {
  width: calc(50%);
  height: calc(100vh);
  min-height: 508px;
  background: url("../images/login_visual.png") top left no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
}

.login .form-area {
  width: calc(50%);
  height: calc(100vh);
  display: table;
  position: absolute;
  right: 0;
}

.login .form-area .warp {
  width: 340px;
  margin: -262px -170px -262px -170px;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
}

.login .form-area form {
  padding: 60px 0 50px 0;
  border-top: 3px solid #1b48b6;
  border-bottom: 3px solid #1b48b6;
}

.login .form-area form .tit .logo {
  width: 260px;
  height: 29px;
  background: url("../images/logo.png") top left no-repeat;
  background-position: 0 0;
  display: inline-block;
}

.login .form-area form .tit p {
  margin-top: 2rem
}

.login .form-area form .id, .login .form-area form .pw {
  position: relative;
}

.login .form-area form .id:after {
  content: "\ec19";
  color: rgba(0, 0, 0, .4);
  font-family: unicons;
  font-size: 1.125rem;
  display: block;
  position: absolute;
  top: 7px;
  left: 12px;
  z-index: 699;
}

.login .form-area form .pw:after {
  content: "\eafe";
  color: rgba(0, 0, 0, .4);
  font-family: unicons;
  font-size: 1.25rem;
  display: block;
  position: absolute;
  top: 5px;
  left: 11px;
  z-index: 699;
}

.login .form-area form .has-danger.id:after {
  color: #e65d51 !important;
}

.login .form-area form .has-danger.pw:after {
  color: #e65d51 !important;
}

.login .form-area form .form-control {
  width: 100%;
  margin-bottom: 10px;
  padding-left: 2.5rem;
}

.login .form-area form button[type="submit"] {
  height: calc(1.5em + 1rem + 2px);
  margin-top: 10px;
  font-size: 1rem;
}

.login .form-area form ol {
  margin: 15px 0 0 0;
  text-align: center;
}

.login .form-area form ol > li {
  margin-right: 15px;
  color: #7d7d7d;
  display: inline-block;
}

.login .form-area form ol > li:last-child {
  margin-right: 0;
}

.login .form-area form ol > li i {
  margin-right: 4px;
}

.login .form-area .ment {
  margin: 13px 0;
  text-align: center;
  font-size: 0.75rem;
  color: #ec7f7d;
  font-weight: 600;
}

.login .form-area form .invalid-feedback {
  margin-top: -5px;
}


/* ===========  지도영역  =============*/
header .map.gnb {
  padding: 0 20px;
  border-bottom: 2px solid #243C79;
}

header .map.gnb ul {
  right: 20px;
}

.map-area {
  width: 100%;
  height: calc(100vh - 43px);
  position: relative;
  z-index: 30;
}

.left-area {
  width: 370px;
  height: calc(100vh - 81px);
  background-color: #fff;
  position: absolute;
  top: 61px;
  left: 20px;
  z-index: 700;
}

.left-area > .warp {
  height: 100%;
}

.left-area > .warp > .nav {
  width: 70px;
  height: 100%;
  background-color: #243c79;
  display: block;
  float: left;
}

.left-area > .warp > .nav > li {
  width: 70px;
  height: 70px;
}

.left-area > .warp > .nav > li > a {
  width: 100%;
  height: 100%;
  padding: 8px 0;
  border-radius: 0;
  text-align: center;
  color: #fff;
}

.left-area > .warp > .nav > li > a:hover {
  background-color: #334e93;
  transition-duration: 250ms;
}

.left-area > .warp > .nav > li > a.active {
  background-color: #4160ad;
  border-bottom: none !important;
}

.left-area > .warp > .nav > li > a:before {
  width: 30px;
  height: 30px;
  margin: 0 auto 1px auto;
  content: "";
  background: url("../images/search_tab.png") top left no-repeat;
  display: block;
}

.left-area > .warp > .nav > li:nth-child(1) > a:before {
  background-position: -30px 0;
}

.left-area > .warp > .nav > li:nth-child(2) > a:before {
  background-position: -60px 0;
}

.left-area > .warp > .nav > li:nth-child(3) > a:before {
  background-position: -90px 0;
}

.left-area > .warp > .nav > li:nth-child(4) > a:before {
  background-position: -120px 0;
}

.left-area > .warp > .nav > li:nth-child(5) > a:before {
  background-position: -150px 0;
}

.left-area > .warp > .nav > li:nth-child(6) > a:before {
  background-position: -180px 0;
}

.left-area > .warp > .nav > li:nth-child(7) > a:before {
  background-position: -210px 0;
}

.left-area > .warp > .tab-content {
  width: calc(100% - 70px);
  padding: 0;
  float: left;
}

.left-area > .warp > .tab-content > .tab-pane > h3 {
  margin: 0;
  padding: 13px 15px;
  border-bottom: 2px solid #dfdfdf;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: -1.3px;
}

.left-area > .warp > .tab-content > .tab-pane > h3 + div {
  padding: 13px 15px;
}

.map-search-condition > * {
  margin-bottom: 10px;
}

.search-result .count em {
  color: #ec7f7d;
  font-style: normal;
}

.search-result {
  margin-top: 20px;
}

.search-result > ol {
  margin: 6px 0 5px 0;
  border-top: 1px solid #61646d;
  border-bottom: 1px solid #61646d;
}

.search-result > ol > li:first-child {
  border-top: none;
}

.search-result > ol > li {
  height: 35px;
  border-top: 1px solid #cecfd3;
}

.search-result > ol > li > a {
  width: 100%;
  height: 100%;
  padding: .5rem .5rem .5rem 1.2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  white-space: nowrap;
  display: block;
  position: relative;
}

.search-result > ol > li > a:hover {
  background-color: #f6f6f7;
  color: #1b48b6;
  transition-duration: 250ms;
}

.search-result > ol > li > a:before {
  content: "\eab8";
  font-family: unicons;
  font-size: 0.875rem;
  color: #1b48b6;
  display: block;
  position: absolute;
  left: 3px;
}

.left-area .pagination li.first a, .left-area .pagination li.prev a, .left-area .pagination li.next a, .left-area .pagination li.last a {
  width: 29px;
  height: 29px;
  background-size: auto 29px;
  position: relative;
}

.left-area .pagination > li > a {
  position: relative;
  float: left;
  min-width: 29px;
  height: 29px;
  padding: 4px 5px 6px 5px;
  margin-left: 5px;
  border: 1px solid #cecfd3;
  text-decoration: none;
  display: inline-block;
}

.left-area .pagination li.prev a {
  background-position: -30px -1px;
  margin-right: 5px;
}

.left-area .pagination li.next a {
  background-position: -59px -1px;
  margin-left: 10px;
}

/* ie 핵 */
@media screen and (min-width: 0\0
) {
  .form-control {
    padding: .29em .55rem .2rem .55rem;
  }

  /*.btn { padding: .25rem .5rem .2rem .5rem; }*/
  .search-condition .btn, .btn-group-position .btn:not(.btn-lg), .table-detail .btn {
    padding: .25rem .5rem .2rem .5rem;
  }

  .btn-group-position .btn-lg {
    padding: .3rem 1.5rem .2rem 1.5rem;
  }

  .table-list td a.btn {
    padding: .1rem .50rem 0 .50rem;
  }
}